.travel-2-posts2 {
	border: solid 1px #bbbbbb;
	line-height:14px;
	overflow: hidden;
	height:317px;
}

.travel-2-posts2 .label {	
	width: 120px;
	overflow: hidden;	
	white-space:nowrap;	
	font-size:1em;	
	padding-left:23px;
}

.travel-2-posts2 .label a{	
	color:#444444;		
}

.travel-2-posts2 a {
	text-decoration: none;	
}

.travel-2-posts2 span.label  > a {
	color: #444444;
}
.travel-2-posts2 span.label  > a:hover {
	text-decoration: none;
}

 .travel-2-posts2 .title {
	background: #fcfcfc;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;	
	padding: 8px 10px 6px 10px;	
	position:relative;		
}

 .travel-2-posts2 .title .posts-more{	
	position:absolute;
	right:10px;
	top:9px;
}

 .travel-2-posts2 .title .posts-more a{
	color: #808080;
	font-weight: normal;
	font-size: 9pt;
 }

 .travel-2-posts2 .title img {	
	position: absolute;
	left:8px;
	top:8px;
}

 .travel-2-posts2 .travel-2-posts-items {
	padding: 0 10px 6px 10px;	
}

.travel-2-posts2 .travel-2-posts-items .item-subject  img{
	position:absolute;
	top:4px;
	left:0;	
}

/*********/
.latest-items{
	position:relative;	
	margin-top:6px;
}

.latest-items .no-margin{
	margin-bottom:0;
}

.latest-items .posts-square{
	position:absolute;
}

.latest-items .item-subject{
	position:relative;
	overflow:hidden;
	float:left;
	padding-left:13px;
	height:14px;
	word-break:break-all;	
	width:70%;	
}

.latest-items .no-of-comments{
	width:20%;
	float:right;
	height:14px;
	color:red;
	text-align:right;	
}